.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
  background-color: #ccc;
}

#btns {
  width: 75%;
}
.btn {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
